/* Webfont: JimmySans-Bold */@font-face {
    font-family: 'JimmySans';
    src: url('JimmySans-Bold.eot'); /* IE9 Compat Modes */
    src: url('JimmySans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('JimmySans-Bold.woff') format('woff'), /* Modern Browsers */
         url('JimmySans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('JimmySans-Bold.svg#JimmySans-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

