/* Custom fonts and sizing */
body {

	font-family: 'Open Sans', sans-serif;
}

h1 {

	font-family: 'JimmyScript', cursive;
	font-size: 2em;
}

h2 {
    
    font-family: 'JimmyScript', serif;
    margin-bottom: 10px;
    font-size: 54px;
    text-align: center;
}

h3, h4  {
	
	font-family: 'JimmySans', sans-serif;
    margin-bottom: 10px;
}

.row h4, .glyphtext {
	font-family: 'Open Sans', sans-serif;

}

h4.subtext {

	text-align: center;
	color: #706a68;
}

/* attempts to style the main image and overlay */
.container .jumbotron, .container-fluid, .jumbotron {

	padding: 0px;
	margin: 0px;
}

.jumbotron {

	background: no-repeat center right fixed url("http://jenniferlcross.com/images/river.jpg");
}

.jumbotron .container h1 {

    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}

.jumbotron .container > * {

    text-align: center;
    color: #FFFFFF;   
}

.jumbotron .container {

    position: relative;
    top: 15%;
    z-index: 4;
    text-align: center;
}

#top, .overlay {

	height: 927px;
}

.jumbotron .overlay {

    background-color: #444444;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.4;
    filter: alpha(opacity=75);
    z-index: 2;
}
/* navbar styling */
.navbar  { 

	border: 0px; 
	background-color: #373d5c; 
	position: absolute; 
	top: 100%; 
	right: 5%; 
	width: 110px; 
	z-index: 999; 
}

.navbar .navbar-collapse { 

	padding: 0px; 
	max-height: none;
}

.navbar .navbar-nav { 

	float: none; 
}

.navbar-nav { 

	margin: 0px;
}

.navbar .nav > li { 

	display: block; 
	float: none; 
	height: 80px;
} 

.navbar .nav > li a { 

	display: block;  
	height: 80px; 
	text-align: center; 
	padding-top: 30px; 
	font-weight: 600; 
	color: #FFFFFF; 
	font-family: "Open Sans", sans-serif;
}

.navbar .nav > li a:hover, .navbar .nav > li a:focus { 

	color: #ffffff; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 

	background-color: #373d5c; 
	color: #ffffff !important;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar { 
	
	background-color: #373d5c; 
}

.fixed .navbar  { 
	
	position: fixed; top: 90px; 
}

/* I will comment in what this one does when i go look and remember what it's for */
.container {

    max-width: 1280px; 
	padding: 40px 180px; 
}

/* section backgrounds*/
.off-white {

	background-color: #dce0e0;
}

.darker {

	background-color: #373d5c;
}

#contact .subtext, #contact h2 {

	color: #d7dbd7;
}

.jenimg {
	
	shape-outside: circle(50%);
    width: 220px;
    height: 220px;
    float: left;
    background-color: #373d5c;
	border-radius: 50%;
    margin: 20px;
    border: 5px solid #373d5c;
}

.about {
	margin-top: 40px;
}

hr {
	
	border-top: 1px solid #d7dbd7 !important;
}

.glyphicon {

	padding-left: 10px;
    padding-right: 10px;
}


.plus {
	font-size: xx-large;
}

.copyright {
	color: #999;
	padding-top: 50px;
}

/* Media Queries!! */
@media (max-width: 767px) { 
	.jumbotron:before {
		bottom: 100px;
		left: 20px;
		right: 20px;
		top: 20px;		
	}

	.jumbotron .container { 
		top: 20%; 
		padding-top: 0px; 
	}

	.jumbotron .scroll-down { 
		width: 100%; 
		right: 0px; 
	}
	
	.navbar  { 
		left: 0px; 
		width: 100%; 
	}

	.navbar .nav > li { 
		height: 60px; 
	}

	.navbar .nav > li a { 
		height: 60px; 
		text-align: center; 
		padding-top: 20px; 
		font-weight: 600; 
		color: #FFFFFF; 
	}
	
	.fixed .navbar { 
		top: 0px; 
	}
	
	.container { 
		padding: 60px 20px; 
		min-width: 280px; 
	}

	/* not sure what this class is */
	.hidden-phone { display: none; }
	
	#about .row * { 
		text-align: center; 
	}
	
	/*#experience .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experience .experience .experience-details .seperator { display: none; } */

	#contact { 
		padding-bottom: 60px; 
	}

	#contact a .icon { 
		float: left; 
		margin-right: 10px; 
	}
}    

@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .jumbotron {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {

    .jumbotron {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }
	
	.jumbotron .lead { display: none; }
}
