/* use josefin with Open Sans, Pacifico, Oswald */
h1 {

	font-family: 'Pacifico', cursive;
}


h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 54px;
    text-align: center;
}

p {

	font-family: 'Open Sans', sans-serif;
}

p.subtext {

	text-align: center;
	color: #727878;
}
.container .jumbotron, .container-fluid, .jumbotron {
	padding: 0px;
	margin: 0px;
}

.jumbotron {
	background: no-repeat center right fixed url(images/river.png);
}
.jumbotron .container h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}

.jumbotron .container > * {
    text-align: center;
    color: #FFFFFF;
}

.jumbotron .container {
    position: relative;
    top: 28%;
    z-index: 4;
    text-align: center;
}

.container {
    padding: 40px 180px;
}

#top, .overlay {

	height: 927px;
}

.jumbotron .overlay {
    background-color: #444444;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.4;
    filter: alpha(opacity=75);
    z-index: 2;
}

.jumbotron .scroll-down {
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 5%;
    background-color: #d5d0d9;
    text-align: center;
    z-index: 6;
}

.jumbotron .scroll-down .glyphicon {
    color: #313636;
    font-size: 30px;
    padding-right: 2px;
    padding-top: 20px;
}

